.accordion {
  max-width: 1020px;
  @include mx-auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -9%;
}
.accordion-item {
}
.accordion-header {
}
.accordion-button {
  @include RBold;
  font-size: 24px;
  color: $secondary;
  height: 100px;
  padding: 22px 70px;
  outline:none;
  &:hover {
    cursor: pointer;
    color: $primary;
  }
}
.accordion-collapse {
}
.collapse {
}
.show {
}
.accordion-body {
  @include RBold;
  font-size: 20px;
  padding: 22px 60px;
}
.collapsed {
  color: $secondary;
}

.accordion-button:not(.collapsed) {
  color: $primary;
  background-color: $grey;
  outline: 0;
  border:0;
  
}
.accordion-button:focus {
  border-color: $white;
  outline: 0;
}