.customers {
  min-height: 550px;
}

.customers__marker {
  @include marker;
}
.customers__wrapper {
  display: flex;
}
.customers__title {
  @include title;
  max-width: 324px;
  margin-right: 20px;
}

.slide-wrapper {
  width: 324px;
  height: 340px;
  box-sizing: border-box;
  box-sizing: border-box;
  padding: 55px 44px 40px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide__text {
  @include main-text;
}
.slide__author {
  display: flex;
  align-items: center;

}
.slide__author-img {
  margin-right: 17px;

}
.slide__author-name {
  @include RBold;
  font-size: 16px;
}