.promices {
  padding-top: 110px;
  
  box-sizing: border-box;
}

.promices__marker {
  @include marker;
}

.promices__title {
  @include title;
  margin-bottom: 68px;
}

.promices__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.promices__block {
  max-width: 324px;
}

.promices__block-img {
  float: left;
  margin-right: 23px;
  margin-bottom: 85px;
}

.promices__block-title {
  @include title-small;
}

.promices__block-text {
  @include main-text;
}

.text-overlay {
  display: block;
  max-width: 415px;
  position:absolute;
  right: 20%;
  top: 10%;
  z-index: 15;
	@include RBlack;
	font-size: 36px;
  color:$white;
}

.circle__box {
  position: absolute;
  right: 47%;
  top: 50%;
  z-index: 20;
  cursor: pointer;
}

.circle {
  background-color: #fff;
  border-radius: 50%;
}

.circle-1 {
  position: absolute;
  top: 14px;
  left: 27px;
  width: 86px;
  height: 86px;
  background-color: #fff;
      &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background: url(/src/icons/play_arrow_24px.svg) no-repeat;
      position: absolute;
      top: 29px;
      left: 34px;
    }
}

.circle-2 {
  position: absolute;
  left: 13px;
  width: 112px;
  height: 112px;
  background-color: rgba(255, 255, 255, 0.3);
  animation: blink 2s linear infinite;
  @keyframes blink{
      0%{opacity: 1;}
      50%{opacity: .5;}
      100%{opacity: 1;}
      }
}

.circle-3 {
  position: absolute;
  top: -13px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 140px;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.2);
  animation: blink 3s linear infinite;
  @keyframes blink{
      0%{opacity: 1;}
      50%{opacity: .5;}
      100%{opacity: 1;}
      }
}

.bg-overlay {
  display: block;
  background-color: rgba($color: #000000, $alpha: .7) ;
  width: 100%;
  min-height: 500px;
  position:absolute;
  z-index: 10;
}

.video-bg {
  // background: url(/src/images/video-bg.jpg) center center/cover no-repeat;
  height: 500px;
  position: relative;
}

.video-clip {
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: 0;
  object-fit: cover;
}



