.swiper-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  cursor: pointer;
  color: $primary;
  top: 92%;
}

.swiper-button-next {
  right: 10px;
}
.swiper-button-prev {
  left: 10px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px;
}
